<footer class="bg-light text-center text-muted py-3 mt-auto border-top">
    <div class="container">
        <small>&copy; @DateTime.Now.Year Pizzaria Balcão. Todos os direitos reservados.</small>
    </div>
</footer>
